<div class="row">
	<button class="btn btn-primary" ng-click="back()">Vissza a modellekhez</button>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="text-center" ng-if="boat.gallery != ''">TODO galléria</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="text-center" ng-if="boat.video != ''">TODO video</div>
	</div>
</div>
<div class="row" id="boat-description">
	<div class="col-sm-12 well-lg" id="boat-description">
		<div ng-if="descCollapse" ng-show="!descToggle">{{txt}}...</div>
		<div ng-if="descCollapse" id="txtFull" class="collapse">{{txtFull}}</div>
		<div id="collapse-btn" class="text-center" ng-if="descCollapse" data-toggle="collapse" data-target="#txtFull" ng-click="toggleDesc()"
			ng-bind="descButtonExpandText"></div>
		<div ng-if="!descCollapse">{{txtFull}}</div>
	</div>
</div>
<div class="row" id="boat-details">
	<div id="panel" class="col-sm-6 panel">
		<div class="row">
			<div id="header" class="col-sm-12 text-center">
				<p>A csónak technikai adatai
				<p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<table class="table table-responsive table-condensed">
					<tbody>
						<tr>
							<td>Hosszúság</td>
							<td>{{boat.length}} cm</td>
						</tr>
						<tr>
							<td>Szélesség</td>
							<td>{{boat.width}} cm</td>
						</tr>
						<tr>
							<td>Súly</td>
							<td>{{boat.weight}} kg</td>
						</tr>
						<tr>
							<td>Csónak formája</td>
							<td>{{boat.form}}</td>
						</tr>
						<tr>
							<td>Terhelhetőség</td>
							<td>{{boat.loadability}} kg</td>
						</tr>
						<tr>
							<td>Motor</td>
							<td>{{boat.engine}} LE</td>
						</tr>
						<tr>
							<td>Szállítható személyek</td>
							<td>{{boat.transport}} fő</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div id="boat-price" class="col-sm-12 text-center">{{boat.price | hunPrice }} Ft</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p class="text-center ">A csónakhoz rendelhető kiegészítőket a Szerelvények és az Árlista oldalon találja.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p class="text-center">
					<small>Az árak az áfát nem tartalmazzák!</small>
				</p>
			</div>
		</div>
	</div>
	<div class="col-sm-3 col-sm-offset-2">
		<img alt="hiroshajo1" class="img-responsive" ng-src="images/boats/{{boat.pics[0]}}">
	</div>
</div>
<div class="row">
	<div class="col-sm-12 ">
		<img alt="hiroshajo2" class="img-responsive center-block" ng-src="images/boats/{{boat.pics[1]}}">
	</div>
</div>