<div class="row">
	<div class="col-sm-5">
		<button class="btn btn-primary" ng-click="back()">Vissza a modellekhez</button>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="text-center" ng-if="boat.gallery != ''">TODO galléria</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="text-center" ng-if="boat.video != ''">TODO video</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div id="boat-description">
			<div ng-if="descCollapse" ng-show="!descToggle" ng-bind-html="txt">...</div>
			<div ng-if="descCollapse" id="txtFull" class="collapse" ng-bind-html="txtFull"></div>
			<div id="collapse-btn" class="text-center" ng-if="descCollapse" data-toggle="collapse" data-target="#txtFull" ng-click="toggleDesc()"
				ng-bind="descButtonExpandText"></div>
			<div ng-if="!descCollapse" ng-bind-html="txtFull"></div>
		</div>
	</div>
</div>
<div class="row" id="boat-details">
	<div class="col-sm-6">
		<div id="panel" class="panel">
			<div class="row">
				<div id="header" class="col-sm-12 text-center">
					<p>A csónak technikai adatai
					<p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<table class="table table-responsive table-condensed">
						<tbody>
							<tr>
								<td>Hosszúság</td>
								<td>{{boat.length}} cm</td>
							</tr>
							<tr>
								<td>Szélesség</td>
								<td>{{boat.width}} cm</td>
							</tr>
							<tr>
								<td>Súly</td>
								<td>{{boat.weight}} kg</td>
							</tr>
							<tr>
								<td>Csónak formája</td>
								<td>{{boat.form_hu}}</td>
							</tr>
							<tr>
								<td>Terhelhetőség</td>
								<td>{{boat.loadability}} kg</td>
							</tr>
							<tr>
								<td>Motor</td>
								<td>{{boat.engine}} LE</td>
							</tr>
							<tr>
								<td>Szállítható személyek</td>
								<td>{{boat.transport}} fő</td>
							</tr>
							<tr ng-if="color != null">
								<td>Színfelár</td>
								<td>{{boat.color | hunPrice}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div id="boat-price" class="text-center">
						<div class="row">
							<div class="col-sm-12">{{boat.price | hunPrice }}</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<small class="boat-subprice">{{boat.price_sub}}</small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p class="text-center ">
						A csónakhoz rendelhető kiegészítőket a <strong><a href="#/fittings">Szerelvények</a></strong> és az <strong><a href="#/prices">Árlista</a></strong>
						oldalon találja.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p class="text-center">
						<small>Az árak az áfát nem tartalmazzák!</small>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-sm-offset-2">
		<img alt="hiroshajo1" class="img-responsive" ng-src="images/boats/{{boat.pics[0]}}">
	</div>
</div>
<div class="row">
	<div class="col-sm-12 ">
		<img alt="hiroshajo2" class="img-responsive center-block" ng-src="images/boats/{{boat.pics[1]}}">
	</div>
</div>