.container {
	margin-top: 15px;
}

.hiroshajo-border-glow {
	height: 100%;
	outline: none;
	border-color: #f67f21;
	box-shadow: 0 0 25px #f67f21;
	/* 	border-top-left-radius: 15px; */
	/* 	border-top-right-radius: 15px; */
}

.hiroshajo-solid-border {
	height: 100%;
	border: 3px solid #000;
	/* 	border-top-left-radius: 15px; */
	/* 	border-top-right-radius: 15px; */
}

.page-title {
	font-family: "Arial", sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: #F93;
	text-shadow: 2px 2px 3px #333;
	padding: 0 10px;
}

#header-evszam {
	padding-top: 20px;
}

#hiroshajo-header {
	background-repeat: repeat;
}

#hiroshajo-content {
	margin-top: 10px;
	padding: 0 25px;
}

/* custom */
.hiroshajo-text-mark, .mark {
	color: #f67f21;
}

/* top navigation */
#main-navigation ul {
	font: 12px Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background: #333;
}

#main-navigation li {
	vertical-align: middle;
}

#main-navigation li a, .dropdown-menu>li>a {
	color: #EEE;
}

#main-navigation a:hover, .dropdown-menu li>a:hover, .dropdown-menu>li>a:focus,
	.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background: #777;
}

#main-navigation a:focus {
	background: none;
}

#main-navigation li.active a {
	background: #ff8000;
}

/* main page */
#hh-carousel {
	margin: 10px auto;
}

#hh-carousel {
	width: 60%;
	overflow: hidden;
}

#hh-carousel, #hh-carousel .carousel-inner {
	height: 300px;
}

#main-page-wrapper {
	background: url('../images/bg/main_content_bg.jpg') repeat;
	padding-bottom: 20px;
}

#hh-carousel .carousel-caption {
	color: white;
	width: 100%;
	background: #ff8000;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	right: auto;
	left: auto;
	padding: 0;
	bottom: auto;
	top: 10px;
	width: 100%;
}

/* Fittings */
.single-fitting {
	
}

.single-fitting h4 {
	color: #0066ff;
}

.single-fitting .price {
	background: black;
	color: #d7cd09;
	margin: 10px auto;
	width: 95%;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 0;
}