<div ng-if="boat == null" id="boats-menu">
	<div ng-repeat="(k,boat) in boats">
		<div class="pull-left">
			<h4>
				{{boat.name}} <span class="label label-danger" style="top: 0">Újdonság</span>
			</h4>
			<a ng-click="select(boat)" href=""><img
				class="img-responsive center-block"
				ng-src="images/boats/{{boat.button_img}}"> </a>
		</div>
		<div class="clearfix" ng-if="($index + 1) % 4 === 0"></div>
	</div>
	<div class="clearfix"></div>
</div>

<div ng-if="boat != null">
	<ng-include src="'includes/boat_details_hu.html'" id="boat-content"></ng-include>
</div>