<div ng-if="boat == null" id="boats-menu">
	<div ng-repeat="(k,boat) in boats">
		<div class="pull-left">
			<h4>
				{{boat.name}} <span class="label label-danger" style="top: 0">Újdonság</span>
			</h4>
			<a ng-click="select(boat)" href=""><img
				class="img-responsive center-block"
				ng-src="images/boats/{{boat.button_img}}"> </a>
		</div>
		<div class="clearfix" ng-if="($index + 1) % 4 === 0"></div>
	</div>
	<div class="clearfix"></div>
</div>

<div ng-if="boat != null">
	<button class="btn btn-primary" ng-click="back()">Vissza a
		modellekhez</button>
	<div class="row">
		<div class="col-sm-12">
			<div class="text-center" ng-if="boat.gallery != null">TODO
				galléria</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="text-center" ng-if="boat.video != null">TODO video</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12" id="boat-description">
			<div ng-if="descCollapse">{{txt1}}...</div>
			<div ng-if="descCollapse" id="txt2" class="collapse">{{txt2}}</div>
			<div ng-if="descCollapse" data-toggle="collapse"
				data-target="#txt2">Bővebben...</div>
			<div ng-if="!descCollapse">{{txt1}}</div>
		</div>
	</div>

</div>