<div class="row">
	<div class="col-sm-12">
		<h4>Keresés</h4>
		<div class="form-inline">
			<div class="form-group">
				<label for="name">Név</label> <input type="text" name="name" class="form-control" ng-model="search.name">
			</div>
			<div class="form-group">
				<label for="group">Csoportok</label> TODO checkboxs
			</div>
			<button type="reset" class="btn btn-warning" ng-click="reset()">Törlés</button>
		</div>
	</div>
</div>
<div class="row" style="margin-top: 10px">
	<div class="col-sm-12">
		<p>
			Az árlista letölthető pdf formátumban is: <a href="documents/arlista.pdf">Híröshajó árlista.pdf</a>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th colspan="2" class="text-center price-table-header">Csónakok</th>
				</tr>
				<tr>
					<th class="text-center">Megnevezés</th>
					<th class="text-center">Ár</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
