<div class="row">
	<div class="col-sm-2">
		<div class="form-horizontal">
			<div class="form-group-sm">
				<label for="name">Keresési szöveg</label> <input type="text"
					name="name" ng-model="search.name" placeholder="keresési szöveg"
					class="form-control">
			</div>
		</div>
	</div>
	<div class="col-sm-9">
		<div class="form-horizontal">
			<div class="form-group-sm">
				<label ng-repeat="cat in search.categories" class="small-label">{{cat.name}}
					<input type="checkbox" ng-model="cat.value" class="form-control">
				</label>
			</div>
		</div>
	</div>

	<div class="col-sm-1">
		<div class="form-horizontal">
			<div class="form-group-sm">
				<label></label>
				<button class="btn btn-warning" ng-click="reset()" style="vertical-align: middle">Törlés</button>
			</div>
		</div>
	</div>
</div>
<div class="row" style="margin-top: 10px">
	<div class="col-sm-12">
		<p>
			Az árlista letölthető pdf formátumban is: <a
				href="documents/arlista.pdf">Híröshajó árlista.pdf</a>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th colspan="2" class="text-center price-table-header">Csónakok</th>
				</tr>
				<tr>
					<th class="text-center">Megnevezés</th>
					<th class="text-center">Ár</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
