<div class="row">
	<div class="col-sm-7">
		<p class="lead">Melyiket is válasszam?</p>
		<p class="text-justify">Megpróbálom pár mondatban összefoglalni,
			milyen kérdések merülnek fel leggyakrabban a típus kiválasztásakor.
			<strong>Az első, jogosítvánnyal vagy anélkül?</strong> 5 LE motorteljesítményig
			bármely hajótípust lehet vezetni kishajóvezetői engedély nélkül. 5
			LE-s motorral kb. 10 km/h-s utazási sebességet lehet elérni, ez a
			Tiszára, Tisza-tóra, Adriára megfelel. A Dunára - annak nagyobb
			sodrása miatt - már erősebb motort kell választani. <strong>25 LE-ig</strong>
			szerelhetők a motorteknő nélküli típusok, e felett már motorkikötő
			elemet kell beépíteni a csónakba, melyhez a motor két felső rögzítő
			csavarját ki kell támasztani. <strong>25 LE felett </strong>hosszú csizmás motort kell
			választani, és erősített hajót kell kérni, kormányállás és
			távirányító szükséges. 2014-től minden alaphajó egy repedésgátló
			réteget kap ez 25 LE-ig tökéletesen elegendő. 25 LE felett, erősített
			aljat kell gyártani, hogy a nagysebesség miatti rezonanciát és nagy
			terheléseket a fenéklemez hosszútávon, sérülés nélkül kibírja. A hajó
			méretét illetően, el kell dönteni, hogy horgászatra, kirándulásra,
			túrázásra vagy vízisíelésre keresünk hajót, átlagosan hány utasra
			számítunk, milyen sebességre van szükségünk. Ezek ismeretében szinte
			mindenki igényeihez találunk megfelelő katamaránt.</p>

		<p class="lead">Miért pont egy katamarán?</p>
		<p class="text-justify">Ha nem szereti, hogy billeg a lába alatt a
			csónak, ha a család szívbajt és tengeribetegséget kap minden
			kirándulásnál, ha egyedül horgászik és szeretné épségben kihúzni a <em>90
			kg-os harcsát</em>, vagy egyszerűen csak jó menetteljesítményt és
			maximális stabilitást szeretne, akkor válasszon egy <strong>KATAMARÁNT</strong>. A
			<strong>kecskeméti Hírös Hajó cég</strong> 1995 óta foglalkozik műanyag hajó
			tervezéssel és gyártással. A tervezésnél elsődleges célunk, hogy a
			<em>kis méretek ellenére nagy állóhelyzeti oldalstabilitást, jó siklási
			tulajdonságot és biztonságot érjünk el</em>. Ezen célok elérésére a
			katamarán aljforma tűnt a legjobb megoldásnak. Ezek tették napjainkra
			a horgászok körében igen kedvelt típussá. A hajók kis szériában kézi
			bedolgozással, kizárólag hajóépítési célra megfelelő üvegszálas
			műanyagból készülnek. További nagy előny, hogy az egyes típusok modul
			rendszerrel bővíthetőek, és egyedi igény szerint variálhatóak. A
			hajókhoz saját gyártású kormányállások, ülődobozok, forgó és fix
			ülések állnak rendelkezésre.</p>

		<p>Ha bizonytalan abban, hogy melyik típus lenne Önnek a
			legmegfelelőbb, keressen bizalommal személyesen, telefonon: +36 30
			9788-120.</p>
	</div>
	<div class="col-sm-4">
		<img alt="k1 fisherman" ng-src="images/boats/fisherman/fisherman_many_people.jpg" class="img-responsive img-thumbnail">
		<img alt="k maxxi extra" ng-src="images/boats/extra/kmaxxi_extra_2.jpg" class="img-responsive img-thumbnail">
		<img alt="k2 party" ng-src="images/boats/party/k2part02.jpg" class="img-responsive img-thumbnail">
		
		
	</div>
</div>