<table>
  <tr>
    <td align="center" style="border:none"><img ng-src="images/tests/villanyteszt/hiroshajo_logo.jpg" width="188" height="94" alt="híröshajó_logó" /></td>
    <td align="center" style="border:none"><img ng-src="images/tests/villanyteszt/csonak_1.jpg" width="188" height="94" alt="csónak" /></td>
    <td align="center" style="border:none"><img ng-src="images/tests/villanyteszt/torqeedo_logo.gif" width="188" height="94" alt="torqeedo_logó" /></td>
  </tr>
</table>

<h2>Milyen egy K <span class="piros">MAXXI</span> csónak egy torqeedo elektromos motorral?</h2><br />
<div class="teszt_jobb"><img ng-src="images/tests/villanyteszt/motor_1.gif" width="87" height="153" alt="csónak motor" /></div><!--teszt_jobb-->
<p>Mindig nagy örömmel tölt el, ha tudomásomra jut egy olyan motorfejlesztés, mely környezetkímélő és olyan teljesítményt igér, mely adott esetben azokon a vizeken is életet menthet, ahonnan (nem mindenkinek) számüzték a benzinmotort. Egy viharos Balatonra, Velencei tóra az általam kitalált (és többek által lemásolt) katamarán formájú csónak rendkívüli biztonságot nyújt. Erről az évek során a csónak használói számtalanszór meggyőződhettel. A kérdés, hogy a nem kimondottan elektromos meghajtásra tervezett katamarán formájú csónak mit tud egy villanymotorral.</p>
<div class="teszt_bal"><img ng-src="images/tests/villanyteszt/motor_2.gif" width="122" height="123" alt="motor" /></div><!--teszt_bal--><p>Az Interservice Kft. 2007. február 6.-án felajánlott egy teszt lehetőséget a Torqeedo elektromos motorokkal, melynek tapasztalatait itt adjuk közre. A tesztet a Hárosi öbölben végeztük, szélcsendben, kb. 5 C<sup>o</sup>-os hőmérséklet mellett teszteltük a beépített akumlátoros Travel 801 és a Cruiser 2.0 típust, mely külső akkuval működik.</p>
<p>Első pillanatban szembetűnő volt, hogy nem a hagyományos elektromos pöszögőről van szó. Dinamikus gyoruslás és olyan végsebesség jellemezte őket, amit a kis villanyosok még csak meg sem közelítenek. Különösen a Torqeedo Cruiser 2.0 nyújtotta azt az élményt, amivel a Balatont keresztbe-hosszába lehetne túrázni egy K MAXI Party, vagy egy K <span class="piros">MAXXI Joker</span> típusú csónakkal. Ami számomra meglepő volt, hogy ez a motor a terheléstől függetlenül csak minimális sebesség eltérést produkált.</p>

<table width="700px" border="0" cellspacing="0" cellpadding="0" style="margin:30px 0px 20px 40px; border-bottom: 1px solid #666">
  <tr>
    <td style="border-bottom:1px solid #666; border-right:1px solid #666; border-left:none; border-top:none; text-align:center">legkissebb terhelés<br />csónak súlya: 180 kg<br />motor+akku: 70 kg<br />vezető: 110 kg<br />max sebesség: 9,6 km/h</td>
    <td style="border-bottom:1px solid #666; border-left:1px solid #666; border-right:none; border-top:none; text-align:center">legnagyobb terhelés<br />csónak súlya: 180 kg<br />motor+akku: 70 kg<br />vezető+utasok: 521 kg<br />max sebesség: 9,6 km/h</td>
  </tr>
</table>

<table class="table table-bordered">
  <tr style="background: #CCC">
    <td>K <span class="piros">MAXXI</span></td>
    <td>legkissebb terhelés 360 Kg</td>
    <td>legnagyobb terhelés 771 kg</td>
  </tr>
  <tr>
    <td style="background: #CCC">Travel 801 végsebessége</td>
    <td>6,8 km/h</td>
    <td>6,8 km/h</td>
  </tr>
  <tr>
    <td style="background: #CCC">Cruiser 2.0 végsebessége</td>
    <td>9,6 km/h</td>
    <td>8,8 km/h</td>
  </tr>
</table>
<p>Az előző benzinmotoros tesztünkel összevetve azt látjuk, hogy 3fő terhelés mellett a 4 LE benzinmotor teljesítményét nyújtja a Torqeedo Cruiser. Az alábbi táblázatban összevetjük a Torqeedo Cruiser és a 4 LE benzines motor menetteljesítményeit.</p>

<table class="table table-bordered">
  <tr style="background: #CCC">
    <td>motor</td>
    <td>110 kg</td>
    <td>196 kg</td>
    <td>291 kg</td>
    <td>421 kg</td>
    <td>521 kg</td>
  </tr>
  <tr>
    <td style="background: #CCC">Torqeedo Cruiser</td>
    <td>9,6 km/h</td>
    <td>9,5 km/h</td>
    <td>9 km/h</td>
    <td>8,7 km/h</td>
    <td>8,8 km/h*</td>
  </tr>
  <tr>
    <td style="background: #CCC">félgáz</td>
    <td>6,6 km/h</td>
    <td>6,5 km/h</td>
    <td>5,9 km/h</td>
    <td>5,3 km/h</td>
    <td>4,7 km/h</td>
  </tr>
  <tr>
    <td style="background: #CCC">4 LE 4 ütemü benzinmotor</td>
    <td>15 km/h</td>
    <td>12,5 km/h</td>
    <td>9,5 km/h</td>
    <td>9,3 km/h</td>
    <td>9,2 km/h</td>
  </tr>
</table>

<p style="font-size:70%; margin-left:40px;">GPS-el mért eredmények.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*Az utasok elhelyezkedése befolyásolhatja az elérhető maximális sebességet.</p><br />
<p>A mért eredmények arról tanuskodnak, hogy mindkét villanymotorral neki lehet vágni a Balatonnak, nagy szél és hullámzás mellett is, mert a motorok teljesítménye biztosítja, hogy épségben partot érjünk.</p>
<p>Maradt még egy kérdés: meddig elég az akkumlátorok teljesítménye? Erre csak egy adott csónaktípussal végzett teljesítménypróba adna választ. Ha kisüt a nap, ezt a próbát is megejtjük és beszámolunk róla.</p>

<table class="table table-bordered">
  <tr>
    <td style="border:none">A motorokról információt ad:<br />Pápai Ferenc<br />Intersevice Kft.<br />www.mercuryintersevice.hu<br />30 966-0956</td>
    <td style="border:none">Üdvözlettel: Juharos Imre<br />30 9788-120</td>
  </tr>
</table>