<h1>Fittings</h1>
<div class="form-group form-inline">
	<label for="size">Column size</label> <select name="size" required="required" class="form-control" ng-model="size"
		ng-options="item for item in sizeSelection">
	</select>
</div>
<div ng-repeat="(k,f) in fittings" class="single-fitting">
	<div class="col-sm-{{columnSize}}">
		<div class="row">
			<div class="col-sm-6">
				<a href="#{{k}}"></a>
				<h4>
					{{f.name_hu}} <span ng-if="f.novelty" class="label label-danger">New</span>
				</h4>
				<p ng-bind="f.desc_hu"></p>
			</div>
			<div class="col-sm-6">
				<img class="img-responsive" ng-src="images/fittings/{{f.img}}">
			</div>
		</div>
		<div class="row">
			<div class="text-center price">For prices see our <a href="#/prices"><strong>Price list</strong></a> page.</div>
		</div>
	</div>
	<div ng-if="(($index +1 ) % size) === 0" class="clearfix"></div>
</div>
<div class="clearfix"></div>