<div ng-if="boat == null" id="boats-menu">
	<div ng-repeat="(k,boat) in boats">
		<div class="pull-left boat-item">
			<h4>
				{{boat.name}} <span class="label label-warning novelty-label" ng-if="boat.novelty">New</span> <small ng-if="!boat.available"><br />(Not available)</small>
			</h4>
			<a ng-if="boat.available" ng-click="select(k)" href=""><img class="img-responsive center-block enabled"
				ng-src="images/boats/{{boat.button_img}}"> </a>
				
			<a ng-if="!boat.available" href=""><img
				class="img-responsive center-block disabled" ng-src="images/boats/{{boat.button_img}}"> </a>
		</div>
		<div class="clearfix" ng-if="($index + 1) % 4 === 0"></div>
	</div>
	<div class="clearfix"></div>
</div>
<div ng-if="boat != null">
	<ng-include src="'includes/boats/boat_details_'+lang+'.html'"></ng-include>
</div>