<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered table-responsive table-condensed">
			<thead>
				<tr>
					<th colspan="2" class="text-center price-table-header">{{title}}</th>
				</tr>
				<tr>
					<th class="col-sm-8 text-center">Name</th>
					<th class="col-sm-4 text-center">Price</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items | filter : searchKeyword">
					<td class="col-sm-8">{{item.name_en}}</td>
					<td class="col-sm-4">{{item.price | hunPrice}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>