@charset "iso-8859-2";
/* CSS Document */

img {border: none;}

a {
	color:#FC0;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;	
}

body {
	margin: auto;
	font: 1em Arial, Helvetica, sans-serif;
	color: #000;
}

#keret {
	width: 838px;
	margin-top: 10px;
	margin-left: 20px;
	background: url(images/keret_bg.jpg) repeat-y;
	overflow: hidden;
}

#langbar {
	text-align: left;
	padding-left: 40px;
	background-color: #FFF;
}

#fejlec {
	width: 838px;
	height: 270px;
	position: relative;
}

#tartalom {
	width: 800px;
	margin: 0px 19px;
}

#video {
	margin-left: 100px;
}


/*-------------------------------------------------------------magyar menü formázás*/

.menu{
	border: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font: 0.8em Verdana, Geneva, sans-serif;
	font-weight: bold;
	background: #333;
	}
.menu ul{
	background: #333;
	height: 35px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	
.menu li{
	float: left;
	padding: 0px;
}

.menu li a{
	background: #333;
	color: #CCC;
	display: block;
	line-height: 35px;
	margin: 0px;
	padding: 0px 10px;
	text-align: center;
	text-decoration: none;
}

.menu li a:hover, .menu ul li:hover a{
	background: #2580a2;
	color: #FFF;
	text-decoration: none;
}

.menu li ul{
	background: #333333;
	display: none;
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	z-index: 200;
	/*top:1em;
	/*left:0;*/
}

.menu li:hover ul{
	display: block;
}

.menu li li {
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
}

.menu li:hover li a{
	background: none;		
}

.menu li ul a{
	display: block;
	height: 35px;
	font-size: 12px;
	font-style: normal;
	margin: 0px;
	padding: 0px 10px 0px 15px;
	text-align: left;
}

.menu li ul a:hover, .menu li ul li:hover a{
	background: #2580a2;
	border: 0px;
	color: #FFF;
	text-decoration: none;
}

.menu p{
	clear: left;
}	

/*-------------------------------------------------------------angol menü formázás*/

.angol_menu{
	border: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font: 0.9em Verdana, Geneva, sans-serif;
	font-weight: bold;
	background: #333;
	}
.angol_menu ul{
	background: #333;
	height: 35px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	
.angol_menu li{
	float: left;
	padding: 0px;
}

.angol_menu li a{
	background: #333;
	color: #CCC;
	display: block;
	line-height: 35px;
	margin: 0px;
	padding: 0px 16px 0px 16px;
	text-align: center;
	text-decoration: none;
}

.angol_menu li a:hover, .angol_menu ul li:hover a{
	background: #2580a2;
	color: #FFF;
	text-decoration: none;
}

.angol_menu li ul{
	background: #333333;
	display: none;
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	z-index: 200;
	/*top:1em;
	/*left:0;*/
}

.angol_menu li:hover ul{
	display: block;
}

.angol_menu li li {
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
}

.angol_menu li:hover li a{
	background: none;		
}

.angol_menu li ul a{
	display: block;
	height: 35px;
	font-size: 12px;
	font-style: normal;
	margin: 0px;
	padding: 0px 10px 0px 15px;
	text-align: left;
}

.angol_menu li ul a:hover, .angol_menu li ul li:hover a{
	background: #2580a2;
	border: 0px;
	color: #FFF;
	text-decoration: none;
}

.angol_menu p{
	clear: left;
}	


/*-------------------------------------------------------------szöveg formázás*/

#tel {
	position: absolute;
	margin-top: 100px;
	margin-left: 60px;
	font-size: 2.5em;
	font-weight: bold;
	color: #F93;
	text-align: right;
}


#h_egy {
	position: absolute;
	width: auto;
	top: 212px;
	right: 35px;
	text-align: left;
	overflow:visible;
	/*text-shadow: 3px 3px #CCC;*/
}

h1 {
	padding: 0px;
	margin: 0px;
	font-size: 32px;
	color: #F93;
}

h2 {
	padding: 0px;
	margin: 0px;
	font-size: 1em;
	text-align: center;
}

p {
	margin: 0px;
	padding: 0px;
}

.kek {
	color: #0000FF;
}

.piros {
	font-weight: bold;
	color: #FF0000;
}

.bold {
	font-size: 110%;
}

#szoveg {
	clear: both;
	width: 790px;
	padding: 20px 5px 20px 5px;
	text-align: justify;
	font-weight: bold;
	line-height: 1.3em;
	overflow: hidden;
}

/*#lablec {
	height: 30px;
	width: 838px;
	margin-left: 20px;
	padding: 0px;
	background: url(images/lablec_bg.jpg) no-repeat;
}

#lablec_szerelvenyek {
	height: 30px;
	width: 838px;
	margin-left: 20px;
	padding: 0px;
	background: url(images/lablec_szerelvenyek_bg.jpg) no-repeat;
}*/

.hajonev {
	position: absolute;
	width: 200px;
	height: auto;
	text-align: center;
	color: #FFF;
	background: #000;
	filter:alpha(opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
}

.szerelvenyek_bal {
	float: left;
	position: relative;
	width: 385px;
	height: 320px;
	background-color:#d1dee1;
}

.szerelvenyek_jobb {
	float: right;
	position: relative;
	width: 385px;
	height: 320px;
	background-color:#d1dee1;
}

.szerelvenyek_kep {
	float: right;
	width: 250px;
	height: 188px;
	padding-top: 20px;
	padding-left: 5px;
}

.szerelvenyek_szoveg {
	font-size: 0.9em;
	text-align: left;
}

.arak {
	position: absolute;
	top: 280px;
	width: 380px;
	padding: 1px 5px 1px 0px;
	font-size: 1.2em;
	text-align: right;
	color: #F00;
	background-color: #000;
	z-index: 203;
}

.clear {
	clear: both;
	height: 10px;
}


.arlista_nev {
	padding-top: 5px;
	padding-left: 2px;
	padding-bottom: 5px;
	text-align: center;
	color: #03C;
	border: 1px solid #F90;
}

.arlista_ar {
	width: 100px;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	text-align: right;
	color: #F00;
	border: 1px solid #F90;
}
#newDiv {
	position:absolute;
	left:189px;
	top:359px;
	width:134px;
	height:122px;
	z-index:201;
	background-position: 0px;
}


.teszt_jobb {
	float: right;
	margin-left: 20px;
}

.teszt_bal {
	float: left;
	margin-right: 20px;
}

.modell_bk {
	margin-bottom: 20px;
	padding: 10px;
	background-color: #000;
	color: #FC0;
}

.hasznalt {
	margin: 0px 20px 30px 20px;
	border-bottom: 1px solid #999;
	font-weight:normal;
}

.hasznalt ul {
	list-style-type: none;
}

#galeria, #galeria_angol {
	width: 117px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: #ce8725;
	text-align: center;
	border: 2px solid #745a30;
}

#galeria a:link, #galeria a:visited, #galeria_angol a:link, #galeria_angol a:visited {
	text-decoration: none;
	color: #000;
}

#galeria a:hover {
	text-decoration: none;
	color: #FFF;
}

/** ADVERTISEMENT **/
#advertisement {
	width:100%;
	height:100%;
	background: rgba(50,50,50,0.4);
	position:fixed;
	top:0;
	left:0;
	z-index:1;
}
#advertisement #txt {
	width:400px;
	height:300px;
	position:absolute;
	left:10%;
	top:50%;
	margin-top: -200px;
	background:rgba(255,255,255,1.0);
	background:white;
	border-radius: 15px;
	padding:5px;
	border:#f58020 solid 8px;
}
#advertisement #txt #close {
	position:absolute;
	left:85%;
	width:100px;;
	top:-5%;;
	background:rgba(180,50,50,0.9);	
	border-radius:20px;
	padding:5px;
	cursor:pointer
	
}
#advertisement #txt #close:hover {
	background:rgba(180,50,50,1.0);	
}
