<h1>Fittings</h1>
<div ng-repeat="(k,f) in fittings" class="single-fitting">
	<div class="col-sm-6">
		<div class="col-sm-6">
			<a href="#{{k}}"></a>
			<h4>
				{{f.name_en}} <span ng-if="f.novelty" class="label label-danger">New</span>
			</h4>
			<p ng-bind="f.desc_en"></p>
		</div>
		<div class="col-sm-6">
			<img class="img-responsive" ng-src="images/fittings/{{f.img}}">
		</div>
		<div class="clearfix"></div>
		<div class="text-center price">
			For prices see our <a href="#/prices"><strong>Price list</strong></a> page.
		</div>
	</div>
	<div ng-if="f.break" class="clearfix"></div>
</div>
<div class="clearfix"></div>
