<h1>Szerelvények</h1>
<div ng-repeat="(k,f) in fittings" class="single-fitting">
	<div class="col-sm-6">
		<div class="col-sm-6">
			<a href="#{{k}}"></a>
			<h4>
				{{f.name_hu}} <span ng-if="f.novelty" class="label label-danger">Újdonság</span>
			</h4>
			<p ng-bind="f.desc_hu"></p>
		</div>
		<div class="col-sm-6">
			<img class="img-responsive" ng-src="images/fittings/{{f.img}}">
		</div>
		<div class="clearfix"></div>
		<div class="text-center price">
			A szerelvény ára, az <a href="#/prices"><strong>árlistában</strong></a> található.
		</div>
	</div>
	<div ng-if="(($index + 1) % 2) === 0" class="clearfix"></div>
</div>
<div class="clearfix"></div>