.container {
	margin-top: 15px;
}

.hiroshajo-border-glow {
	height: 100%;
	outline: none;
	border-color: #f67f21;
	box-shadow: 0 0 25px #f67f21;
	/* 	border-top-left-radius: 15px; */
	/* 	border-top-right-radius: 15px; */
}

.hiroshajo-solid-border {
	height: 100%;
	border: 3px solid #000;
	/* 	border-top-left-radius: 15px; */
	/* 	border-top-right-radius: 15px; */
}

.page-title {
	font-family: "Arial", sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: #F93;
	text-shadow: 2px 2px 3px #333;
	padding: 0 10px;
}

#header-evszam {
	padding-top: 20px;
}

#hiroshajo-header {
	background-repeat: repeat;
}

.hiroshajo-color {
	color: #F30;
}

#langbar {
	padding: 5px 20px;
}

#langbar img {
	margin-left: 15px;
}

#langbar img.disabled {
	opacity: 0.5;
}

#hiroshajo-content {
	padding: 10px 25px;
}

/* custom */
.hiroshajo-text-mark, .mark {
	color: #f67f21;
}

/* top navigation */
#main-navigation ul {
	font: 12px Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background: #333;
}

#main-navigation li {
	vertical-align: middle;
}

#main-navigation li a, .dropdown-menu>li>a {
	color: #EEE;
}

#main-navigation a:hover, .dropdown-menu li>a:hover, .dropdown-menu>li>a:focus,
	.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, #main-navigation ul.nav li.active ul li a:hover {
	background: #777;
}

#main-navigation a:focus {
	background: none;
}

#main-navigation ul.nav li.active a {
	background: #ff8000;
}

#main-navigation ul.nav li.active ul li a {
	background: none;
}

/* main page */
#hh-carousel {
	margin: 10px auto;
	width: 60%;
	overflow: hidden;
}

#hh-carousel, #hh-carousel .carousel-inner {
	height: 300px;
}

#hh-carousel, #hh-carousel .carousel-inner img {
}

#hh-carousel .carousel-caption {
	color: white;
	width: 100%;
	background: #ff8000;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	right: auto;
	left: auto;
	padding: 0;
	bottom: auto;
	top: 10px;
}

#main-page-wrapper {
	background-image: url('../images/bg/blurred_main_bg.jpg');
	background-repeat: repeat;
	padding-bottom: 20px;
}



/* Fittings */
.single-fitting {
	
}

.single-fitting h4 {
	color: #0066ff;
}

.single-fitting .price {
	background: black;
	color: #d7cd09;
	margin: 10px auto;
	width: 95%;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 0;
}

#boats-menu {
	
}

#boats-menu h4 {
	margin: 0;
	padding: 5px 0;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	background: black;
	color: white;
}

#boats-menu img {
	opacity: 0.7;
	transition: opacity 0.5s;
}

#boats-menu img.enabled:hover {
	opacity: 1.0;
}

#boats-menu img.disabled {
	cursor: default;
	transition-property: none;
}

#boats-menu .boat-item {
	margin-left: 30px;
	margin-top: 30px;
}

#hiroshajo-content {
	
}

#model-back-button {
	background-color: #ff972f;
}

#model-back-button:hover, #model-back-button:focus {
	background-color: #ff8000
}

#boat-description {
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	color: #FC0;
	background: black;
	box-shadow: 2px 2px 4px #000;
}

#boat-description #collapse-btn:hover {
	background: #333;
}

#boat-details {
	margin-top: 15px;
}

#boat-details #panel {
	background: black;
	color: #FC0;
}

#boat-details #panel #header {
	font-size: 1.5em;
	margin: 8px 0;
}

#boat-details table {
	color: white;
}

#boat-details #panel #boat-price {
	background: red;
	color: white;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 15px;
}

#boat-details #panel .boat-subprice {
	font-size: 0.5em;
}

#boat-details .side-img:FIRST-CHILD {
	margin-top: 0;
}

#boat-details .side-img {
	margin-top: 15px;
}

#boat-details #boat-gallery {
	background: black;
	color: white;
}

.price-table-header {
	font-size: 1.5em;
	background: #ffac59;
}

label.small-label {
	font-weight: normal;
	font-size: 11px;
	padding: 0 5px;
}

#fake-contact-address {
	font-size: 10px;
	color: red;
}